.linha {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
  max-width: 1400px;
  margin: 0 auto;
  padding: 3rem 2rem;
  
}

.linhaDois {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
  max-width: 2700px;
  margin: 0 auto;
  padding: 3rem 2rem;
  position: relative;
  
}
.linhaTres {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  margin: 0 auto;
  padding: 3rem 2rem;
  position: relative;
  
}

.textoEsquerda,
.textoDireita {
  flex: 1;

  
}

.titulo {
  font-size: 2rem;
  font-family: 'Merriweather', serif;
  font-style: italic;
  color: #000000A6 ;
  line-height: 1.4;
  text-align: left;
}

.subtitulo {
  margin-top: 1rem;
  font-size: 1rem;
  font-family: 'Merriweather', serif;
  color: #000000A6 65%;
  line-height: 1.4;
  text-align: left;
}

.paragrafo {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-size: 1.3rem;
  font-weight: 700;
  color: #000000A6 ;
  line-height: 1.7;
  text-align: left;
  
}

.carousel-wrapper {
  position: relative;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 60px;
  box-sizing: border-box;
}

.carousel {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  border: 3px solid #eee;
}

.carousel-btn {
  background: #78BE21;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 8px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.carousel-btn:hover {
  background: #EE3124;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.cafe {
  margin: 80px 60px;
  background: #f8f8f8;
  padding: 40px 20px;
  border-radius: 12px;
}

.cafe-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.cafe-imagem img {
  width: 350px;
  border-radius: 12px;
  border: 3px solid #eee;
  

}

.subtitulo-cafe {
  margin-top: 0.6rem;
  font-size: 0.8rem;
  font-family: 'Merriweather', serif;
  color: #000000A6 65%;
  line-height: 1.4;
  text-align: left;
  
}

.tituloDois {
  font-size: 1.5rem;
  font-family: 'Merriweather', serif;
  color: #000000A6 ;
  line-height: 1.4;
  text-align: left;
}

.imgCanto {
  display: inline; /* ou absolute */
  text-align: left;
  bottom: 10px;
  right: 10px;
  width: 10rem; /* ajuste o tamanho como quiser */
  z-index: 10000; /* garante que fique sobre outros elementos */
}
.imgCantoDir {
  display: flex; /* ou absolute */
  top: -1rem;
  right: -1rem;
  width: 10rem;
  z-index: 2; /* garante que fique sobre outros elementos */
}

